
NODE_ENV=development
PORT=3000
APP_NAME="Steevo System API"

DB_HOST=localhost
DB_PORT=54321
DB_USERNAME=admin
DB_PASSWORD=adminpassword
DB_NAME=steevodb

REDIS_HOST=localhost
REDIS_PORT=63791
REDIS_PASSWORD=redis123
REDIS_DB=0

JWT_SECRET=EnterpriseSecretKey2026_ChangeMe_!
JWT_EXPIRATION=3600s

LOG_LEVEL=debug